<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.link-bot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sukofi/opt/anaconda3/bin/python3</string>
        <string>/Users/sukofi/Desktop/link-bot-main/link_bot.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/sukofi/Desktop/link-bot-main</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/sukofi/Desktop/link-bot-main/link_bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sukofi/Desktop/link-bot-main/link_bot_error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/sukofi/opt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
